<form #filters="ngForm">
  <div class="container mb-5">
    <div class="row d-flex justify-content-center">
      <div class="col-md-8">
        <div
          (mouseover)="hover = true"
          (mouseout)="hover = false"
          [ngClass]="{'shadow-sm': hover}"
          class="input-group mb-1">
          <input
            (ngModelChange)="filterChanged($event)"
            [(ngModel)]="name"
            aria-label="Filter drink list"
            class="form-control border border-right-0"
            name="name"
            placeholder="Search for a cocktail..."
            type="text"
          >
          <div
            class="input-group-append"
            id="filter">
            <button
              aria-label="Clear"
              class="btn btn-outline-secondary border border-left-0 border-right-0 font-weight-bold"
              type="reset">
              &times;
            </button>
            <button
              (click)="filterChanged(name)"
              class="btn btn-info border-0"
              type="submit">
              Filter
            </button>
          </div>
        </div>

        <div class="text-right">
          <button
            (click)="advanced = !advanced"
            class="btn btn-link btn-sm text-muted">
            Advanced Search
          </button>
        </div>

        <div
          *ngIf="advanced"
          [@slide]="'*'"
          class="my-1"
          >
          <!-- TODO: hook up ingredient search -->
          <div class="form-group row">
            <label for="ingredients" class="col-sm-2 col-form-label col-form-label-sm">Ingredients</label>
            <div class="col-sm-10">
              <input
                class="form-control form-control-sm"
                id="ingredients"
                name="ingredients"
                placeholder="Ingredients"
                type="text"
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
