<app-filter></app-filter>

<!-- TODO add sorting -->

<div class="container">
  <h2 class="mb-5">Cocktails <small *ngIf="filter">with '{{filter}}'...</small></h2>
  <div class="small text-muted text-right">{{((cocktails$ | async)?.drinks)?.length}} results</div>
  <ng-container *ngFor="let cocktail of (cocktails$ | async)?.drinks">
    <div class="card mb-4 w-100 bg-light border-0">
      <div class="row no-gutters">
        <div class="col-md-4">
          <img src="{{cocktail.strDrinkThumb}}" alt="{{cocktail.strDrinkAlternate}}" class="img-fluid w-100">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title">{{cocktail.strDrink}}</h3>
            <p class="card-text">
              <ng-container *ngFor="let ingredient of getIngredients(cocktail); let last = last;">
                {{ingredient}}{{last ? '' : ', '}}
              </ng-container>
            </p>
            <p class="card-text">{{cocktail.strInstructions}}</p>
            <p class="card-text"><small class="text-muted">{{cocktail.strCategory}}</small></p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="!!filter && (cocktails$ | async); else loading">
    <div class="text-center">
      <div class="text-body mb-4">
        No results
      </div>
    </div>
  </ng-container>

  <ng-template #loading>
    <div *ngIf="!(cocktails$ | async)" class="text-center">
      <div class="text-body mb-4">
        Searching for matches...
      </div>

      <div class="spinner-border text-secondary mx-auto" role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
  </ng-template>
</div>


