<app-navbar></app-navbar>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Expert Cocktail</h1>
    <p class="lead">The largest list of cocktails on the web.</p>
  </div>
</div>

<router-outlet></router-outlet>
